<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009914128204-rsbo10foq7qnpokvvk63pa5q49u999f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009914128204-rsbo10foq7qnpokvvk63pa5q49u999f6</string>
	<key>API_KEY</key>
	<string>AIzaSyCiS_7CH9s_sypURrguR3Y7h2_znUMzBP0</string>
	<key>GCM_SENDER_ID</key>
	<string>1009914128204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>con.hotDeal.hotDealGeneration.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hot-deal-generation</string>
	<key>STORAGE_BUCKET</key>
	<string>hot-deal-generation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009914128204:ios:22b28d96e666a9130d91e9</string>
</dict>
</plist>